.filterPanelContainer {
    position: absolute;
    top: 0;
    right: 235px;
    width: 70px;
    height: 250px;
    font-size: 7px;
    color: #000000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filterItem {
    cursor: pointer;
    transition: background-color 150ms;
    height: 12px;
    width: 12px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    border: 2px solid rgb(61, 61, 61);
    /* border: 2px solid rgb(183, 183, 183); */
    /* border: 2px solid rgb(183, 183, 183); */
    /* filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)); */
  }
  
  .name {
   display: flex;
   justify-content: center;
   padding-top: 1.5rem;
   color: rgb(201, 201, 201);
   text-transform: uppercase;
  }
  /* .sidebarItem:hover, .sidebar-item:focus {
    background-color: hsl(0, 0%, 42%);
  }
   */
  /* .sidebarItem.active {
    background-color: hsl(265, 100%, 70%);
  } */
  
  /* .sidebarItem::after {
    content: '';
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 0;
    height: 1px;
  } */
  
  /* .sidebarItem:last-child::after {
    display: none;
  } */

  /* .sliderContainer {
    max-width: 200px;
    margin-top: 2rem;
    padding: 2rem;
  } */

  /* .sliderContainer {
    background-color: #ffffff;
    width: 90vmin;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 20px;
    border-radius: 5px;
  } */


