.headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    position: relative;
}

.headerContainer > p {
    font-size: .8rem;
    letter-spacing: 3px;
    margin-top: 1rem;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
}

.title {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
}

.subtitle {
    font-weight: 600;
}

.colorModeContainer {
    position: absolute;
    top: -5px;
    right: 35px;
}
 



