.grid {
    display: grid;
    /* V1 -----------------------------------------*/
    /* grid-template-columns: 6fr 1fr;
    grid-gap: 2rem; */

    /* max-width: 1300px;
    margin: 0 auto; */

    /* padding: 40px; */

    /* V2 ------------------------------------- */
    grid-template-columns: 1fr 6fr 1fr; 
    grid-gap: 15px;
    padding: 20px;


    /* background-color: #000000; */
    /* background-color: #b8b8b8; */
  }
  
.column {
    /* background-color: #5d7afe; */
    /* background-color: #f3f3f3; */
    text-align: center;
    padding: 1rem;
    font-size: 25px;

    /* border: solid 5px #000000; */
    border-radius: 5px;

    border: solid 1px #eaeaea;

    height: 600px;
    max-height: 600px;
    overflow: scroll;
}
  
.gallery {
    /* ------------------------------Non Responsive */
    
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px; */

     /* -----------------------------Responsive */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;
    grid-auto-flow: dense;
    padding: 1rem;

    /* padding: 10px; */
    /* max-width: 1500px; */

    /* height: 600px;
    max-height: 600px;
    overflow: scroll; */
}
  
.card {
    max-width: 280px;
    max-height: 280px;
    height: 280px;
    /* max-width: 230px;
    max-height: 230px;
    height: 230px; */
    /* border-radius: .2rem; */
    display: flex;
    align-items: center;
    /* align-content: center; */
    justify-content: center;
    border: 1px solid #eaeaea;
    /* background-color: black; */
    
    /* transition: box-shadow.2s ease; */
    /* filter: drop-shadow(4px 4px 6px rgb(0, 0, 0)); */
}

.card:hover {
    /* background-color: rgb(233, 233, 233); */
    /* filter: drop-shadow(4px 4px 6px gray); */
    filter: drop-shadow(0 0 0.75rem rgb(209, 209, 209));
}

/* .cardContainer {
    background-color: #f3f3f3;
    max-width: 230px;
    max-height: 230px;
    height: 230px;
    border-radius: .5rem;
    border: solid 2px #cccbcb;
    margin: 0 auto;
    margin-top: 1rem;
} */

.tooltip {
    padding: .7rem;
}

.imageContainer {
    position: relative;
    background-color: rgb(0, 0, 0);
    max-height: 200px;
    max-width: 200px;
}

.favoriteIcon {
    position: absolute;
    top: 0;
    left: 210px;
}

.downloadIcon {
    position: absolute;
    bottom: 0;
    left: 210px;
}

.image {
    animation: fadeIn 2.5s; 
}
 
.header {
    font-size: 2rem;
    margin: 1rem;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

